.page-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

/* Logo kanan atas */
.logo {
  position: absolute;
  top: 24px;
  right: 32px;
}

.logo img {
  height: 64px;
}

/* Card */
.login-card {
  width: 360px;
  text-align: center;
}

.title {
  color: #006CB1;
  font-size: 34px;
  font-style: "PT Sans Caption";
  margin-bottom: 32px;
}

/* Input umum (Email & Password) */
.form-group,
.input-wrapper {
  margin-bottom: 24px;
}

.form-group input,
.input-wrapper input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  padding: 8px 36px 8px 4px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  background: transparent;
}

/* Placeholder */
.form-group input::placeholder,
.input-wrapper input::placeholder {
  color: #9ca3af;
}

/* Focus state */
.form-group input:focus,
.input-wrapper input:focus {
  border-bottom: 1px solid #0A2540;
}


/* Forgot password */
.forgot {
  text-align: right;
  margin-bottom: 24px;
}

.forgot a {
  font-size: 12px;
  color: #006CB1;
  text-decoration: none;
}

/* Button */
.btn-login {
  width: 100%;
  background: #000000;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-login:hover {
  opacity: 0.85;
}

.input-wrapper {
  position: relative;
}

.eye-btn {
  position: absolute;
  right: 4px;
  bottom: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #6b7280;
}

.eye-btn img {
    width: 18px;
    height: 18px;
    display: block;
}